body {
	width: 100%;
	height: auto;
}

.navbar {
	margin-bottom: 0px;
}

#createUser input {
	margin-bottom: 5px;
}

#loginError {
	font-weight: bold;
}

#createError {
	font-weight: bold;
}

#player {
	font-weight: bold;
}

.row > div {
	padding: 0px;
}

.mainContent {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/
	min-height: 87vh;
}

#localTitle {
	background-color: #446e9b;
	border: 2px solid #446e9b;
	border-radius: 5px;
	margin: 2vh;
	height: 12vh;

	display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;
}


#localTitle h2 {
	/*line-height: 0px;*/
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	line-height: 20px;
	margin: 4px;
}

#localHeatMap {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 70vh;
}

#scorecardPage {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/	
	min-height: 50vh;
}

.scorecardLayout tr th {
	width:50px;
}


.scorecardBlank tr td {
	height:70px;
	color: #446e9b;
	font-family: 'Reenie Beanie', cursive;
	font-size: 42px;
	padding-bottom: 0px;
	padding-top: 0px;


}

#frontNineScores {
	margin-bottom: 20px;
}

#backNine tr th {
	padding-left:2px;
	padding-right:2px;
}

#scoreOut {
	background-color: green;
	padding: 4px;
	width: 60px;
}

#scoreIn {
	background-color: green;
	padding: 14px 14px 4px 14px;
	width: 60px;
}

#scoreardTotal {
	float: letter-spacing: ;
}

/*Creating Scrollable Table*/

table.scroll {
    width: 100%;
    border-spacing: 0;
}

table.scroll th,
table.scroll td,
table.scroll tr,
table.scroll thead,
table.scroll tbody { display: block; }

table.scroll thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: calc(100%-16px);
}

table.scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.scroll tbody {
    max-height: 57vh;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    width: 20%;
    float: left;
}

thead {
	background-color: #446e9b;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
}

#openGames {
	color: #446e9b;
	border: 1px solid #446e9b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	min-height: 12vh;
	max-height: 58vh;
}

thead tr th { 
	color:#ffffff;
    height: 60px;
    line-height: 30px;
    text-align: center;
}


tbody td:last-child, thead th:last-child {
    border-right: none !important;
}

.sidebar {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/
	min-height: 72vh;
}

.sidebarHome {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/
	min-height: 52vh;
	max-height: 84vh;
}

#weather {
	/*border: 2px solid #5d85b1;
	border-radius: 5px;*/
	margin: 2vh;
	min-height: 18vh;
}

#chat {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/
	margin: 2vh;
	height: 35vh;
}


.panel-heading {
	/*padding-top:0px;*/
	min-height: 42px;
}

.panel-heading h4 {
	color:white;
	font-size:20px;
	font-weight: bold;
	margin: 0px;
}

/* .panel > #weatherTitle {
	padding-top:0px;
	min-height: 42px;
} 

#weatherTitle h4 {
	color:white;
	font-size:20px;
	font-weight: bold;
	padding-left: 0px;
	margin: 0px;
} */

#chatBody {
	max-height: 33vh;
}

#messages {
	max-height: 30vh;
	overflow-y: auto;
}


#otherInfo {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/
	margin: 2vh;
	min-height: 21vh;
	padding: 0;
	color: #446e9b;
}

#moreInfo {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/
	margin: 2vh;
	min-height: 21vh;
}

.modal-header {
	background-color: #5d85b1;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-header  h5{
	color: white;
	font-size: 24px;
	font-weight: bold;
}

footer {
	height: 7vh;
}

#copyright h5{
	text-align: center;
	line-height: 0px;
}


#createGame {
	margin-top: 10px;
}

#wind-direction {
	float: right;
}

#scorecardEntry {
	/*margin: 2vh;*/
} 

#scorecardView {
    margin: auto;
    margin-top: 20pt;
}

#scorecardTotal {
	padding-left: 0px;
}

#totalScoreTitle {
	background-color: #446e9b;
	border:2px solid #446e9b;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #ffffff;
	float: left;
	font-size: 38px;
	height:60px;
	line-height: :70px;
	/*margin-left: 0px;*/
	padding: 10px;
}

#totalScore {
	border:2px solid #446e9b;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #446e9b;
	font-family: 'Reenie Beanie', cursive;
	font-size: 48px;
	height:60px;
	line-height: :70px;
	padding: 0 10px 0 10px;
}

#exitGame {
	height: 60px;
	margin-top: 10px;
	padding:10px;
}

#score {
	height: 300px;
	width: 100%;
	font-size: 10em;
	text-align: center;
}

#leaderBody {
	font-size: 3em;
	color: #446e9b;
	border: 1px solid #446e9b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
}

#map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

/*input .form-control {
	width: 90%;
	margin: 5px, auto;
	padding-bottom: 5px;
}*/

/*#findCourse {
	color: black;
	font-weight: bold;
	padding-bottom: 5px;
}*/

@media only screen and (min-width : 320px) {
	table.scroll tbody td,
	table.scroll thead th {
    	width: 33%;
    	float: left;
	}

}

@media only screen and (min-width : 480px) {
	table.scroll tbody td,
	table.scroll thead th {
    	width: 33%;
    	float: left;
	}

}

@media only screen and (min-width : 768px) {
	table.scroll tbody td,
	table.scroll thead th {
    	width: 20%;
    	float: left;
	}

};




