

nav {
	height: 7vh;
}

.navbar {
	margin-bottom: 0px;
}

.row > div {
	padding: 0px;
}

/*.mainContent {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	height: 84vh;
}*/

#localTitle {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 12vh;
}

#localTitle h2 {
	line-height: 0px;
}

#localHeatMap {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 66vh;
}

th {
	text-align: center;
}

/*.sidebar {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	height: 84vh;
}*/

#weather {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	min-height: 12vh;
	height: auto;
	overflow: auto;
}

/*#chat {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 67vh;
}*/

#chatBox {
	margin: 2vh;
}

#chatHeading {
	height: 8vh;

}

#chatHeading h4 {
	color:white;
}

#chatBody {
	height: 59vh;
}

#messages {
	min-height: 64vh;
}


#otherInfo {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 32vh;
}

}

#moreInfo {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 32vh;
}

.modal-header {
	background-color: #5d85b1;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-header  h5{
	color: white;
	font-size: 24px;
	font-weight: bold;
}

footer {
	height: 7vh;
}

#copyright h5{
	text-align: center;
	line-height: 0px;
}


#createGame {
	margin-top: 10px;

#wind-direction{
	float: left;
}

