body {
	width: 100%;
	height: 100%;
}


.navbar {
	margin-bottom: 0px;
}

#player {
	font-weight: bold;
}

.row > div {
	padding: 0px;
}

/*.mainContent {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	height: 84vh;
}*/

#localTitle {
	/*background-color: blue;*/
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 12vh;

}

#localTitle h2 {
	/*line-height: 0px;*/
	color: #5d85b1;
	font-size: 3vh;
	font-weight: bold;
	line-height: 20px;
	margin: 0px;
}

#localHeatMap {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 66vh;
}

th {
	text-align: center;
}

/*.sidebar {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	height: 84vh;
}*/

#weather {
	/*border: 2px solid #5d85b1;
	border-radius: 5px;*/
	margin: 2vh;
	min-height: 18vh;

}

#chat {
/*	border: 2px solid #5d85b1;
	border-radius: 5px;*/
	margin: 2vh;
	height: 67vh;
}

.panel-heading {
	/*padding-top:0px;*/
	height: 42px;
}

.panel-heading h4 {
	color:white;
	font-size:20px;
	font-weight: bold;
	margin: 0px;

}

#chatBody {
	max-height: 35vh;
}

#messages {
	max-height: 32vh;
	overflow-y: auto;
}


#otherInfo {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 23vh;
}

#moreInfo {
	border: 2px solid #5d85b1;
	border-radius: 5px;
	margin: 2vh;
	height: 24vh;
}

.modal-header {
	background-color: #5d85b1;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-header  h5{
	color: white;
	font-size: 24px;
	font-weight: bold;
}

footer {
	height: 7vh;
}

#copyright h5{
	text-align: center;
	line-height: 0px;
}


#createGame {
	margin-top: 10px;
}

#wind-direction {
	float: left;
}

#openGames {
	/*max-height: 60vh;*/
	/*overflow-y: scroll;*/
}

#scorecardEntry {
	/*margin: 2vh;*/
} 

#scorecardView {
    margin: auto;
    margin-top: 20pt;
}

#score {
	height: 250px;
	width: 100%;
	font-size: 10em;
	text-align: center;
}

